*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

body{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    min-height: 100vh;
    background: linear-gradient(midnightblue, darkslategray);

    display: flex;
    justify-content: center;
    align-items: center;
    
    padding: 20px;
}

.calc-container{
    width: 100vh;
    display: flex;
    justify-content: center;
}

.calc{
    width: 100vh;
    max-width: 400px;

    padding: 25px;
    background-color: darkslategray;
    border-radius: 10px;
    box-shadow: 0 15px 40px rgba(0, 0, 0, 0.35);
}

.calc h1{
    color: white;
    text-align: center;
    margin-bottom: 20px;
    font-size: 30px;
}

#display{
    width: 100%;
    height: 75px;

    padding: 15px;
    margin-bottom: 20px;
    border: none;
    border-radius: 12px ;
    background-color: black;
    color: white;
    font-size: 28px;
    text-align: right;
    outline: none;



}

.btns{
    display: grid;
    grid-template-columns:repeat(4,1fr);
    gap: 12px ;
}

button{
  min-height: 65px;
  border: none;
  border-radius: 12px;

  background-color: darkgray;
  color: white;

  font-size: 25px;
  font-weight: 600;
  transition: 0.2s;
  cursor: pointer;
}

button:hover{
    background-color: gray;

}

button:active{
    transform: scale(0.96);
        
}

/* btns */

button[data-value="+"],
button[data-value="-"],
button[data-value="*"],
button[data-value="%"],
button[data-value="/"]{
    background-color: orange;
}

button[data-value="+"]:hover,
button[data-value="-"]:hover,
button[data-value="*"]:hover,
button[data-value="%"]:hover,
button[data-value="/"]:hover{
    background-color: #ff4500;
}

.clear{
    background-color: chocolate;
}

.clear:hover{
    background-color: #C45D00;
}

.equals{
    background-color: green;
}
.equals:hover{
    background-color: lightgreen;
}

.zero{
    grid-column: span 2;
}

/* tablet*/
@media (max-width:768px){
    .calc{
        
        max-width: 380px;
        padding: 22px;
    }

    button{
        min-height: 60px;
    }
}

/* mob*/

@media (max-width:375px){
   .calc {
        width: 100%;
        max-width: 100%;
        padding: 15px;
    }

    .calc h1 {
        font-size: 26px;
    }

    #display {
        height: 65px;
        font-size: 23px;
    }

    .btns {
        gap: 8px;
    }

    button {
        min-height: 50px;
        font-size: 20px;
    }
}
}